@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff"); }

@font-face {
  font-family: "PTSans Bold";
  src: url("../fonts/ptsansbold.woff"); }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  outline: none; }

button {
  border: 0;
  background: 0;
  outline: none; }

input {
  outline: none; }

textarea {
  outline: none; }

.hidden {
  display: none; }

.button {
  display: inline-block;
  width: calc(100% - 40px);
  padding: 20px;
  font-family: "PTSans Bold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #fff; }
  .button--small {
    width: auto;
    padding: 20px 80px; }
  .button:hover {
    background-color: #669ec0; }
  .button:active {
    background-color: #5496bd;
    color: #88b6d1; }

.page {
  font-family: "PTSans", "Arial", sans-serif;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase; }

.page__title {
  margin: auto 20px;
  margin-bottom: 40px;
  font-family: "PTSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: inherit; }
  .page__title--small {
    margin-bottom: 30px; }
  .page__title--extra-small {
    margin-bottom: 20px; }

.page__subtitle {
  margin: auto 22px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: inherit; }
  .page__subtitle--small {
    margin-bottom: 0px; }

.page-header__logo {
  height: 56px;
  -webkit-box-shadow: 0px -2px 1px -1px rgba(0, 0, 0, 0.6);
          box-shadow: 0px -2px 1px -1px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 2; }

.page-header__menu-toggle {
  font-size: 0; }
  .page-header__menu-toggle::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-color: #81b3d2;
    -webkit-mask-image: url("../img/icon-menu.svg");
            mask-image: url("../img/icon-menu.svg");
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: contain;
            mask-size: contain; }

.page-header__introduction {
  position: relative;
  padding: 55px 20px 70px;
  margin-bottom: 45px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat; }
  .page-header__introduction--main {
    padding: 90px 20px 65px; }
  .page-header__introduction::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 26px;
    background-image: url(../img/bg-intro-triangle-mobile.svg);
    background-repeat: no-repeat; }

.menu {
  position: relative;
  z-index: 1; }

.menu__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 0; }
  .menu__close::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    -webkit-mask-image: url("../img/icon-cross.svg");
            mask-image: url("../img/icon-cross.svg");
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: contain;
            mask-size: contain; }

.menu__link {
  width: 100%;
  padding: 15px;
  font-size: 18px; }
  .menu__link:not(.menu__link--first) {
    border-top: 1px solid #9ac2db; }
  .menu__link:not(.menu__link--last) {
    border-bottom: 1px solid #678fa8; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.logo__filler {
  width: 24px; }

.reasons {
  position: relative;
  padding-top: 37px;
  background-color: #81b3d2; }
  .reasons::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 37px;
    background-image: url(../img/bg-triangle.svg);
    background-repeat: no-repeat; }

.reasons__list {
  background-color: #eeeeee; }

.reasons__item {
  padding-top: 45px;
  background-color: #81b3d2;
  color: #ffffff; }
  .reasons__item--small {
    padding: 30px 0;
    margin: 0 15px;
    background-color: #eeeeee;
    color: #000000;
    border-bottom: 1px solid #d6d6d6; }
    .reasons__item--small:after {
      content: "";
      display: table;
      clear: both; }
  .reasons__item--small:last-child {
    border-bottom: 0; }

.reasons__title {
  margin: 0 20px 15px;
  font-family: "PTSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px; }

.reasons__number {
  margin: auto 20px 15px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px; }

.reasons__subtitle {
  margin: auto 20px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px; }

.reasons__image {
  display: block;
  margin-top: 40px; }

.reasons__description-list {
  padding: 40px 20px 0;
  text-align: left;
  background-color: #fff;
  color: #000; }
  .reasons__description-list:after {
    content: "";
    display: table;
    clear: both; }

.reasons__description-item {
  position: relative;
  padding-left: 50px; }
  .reasons__description-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 40px;
    height: 45px;
    background-color: #81b3d2;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: contain;
            mask-size: contain; }

.reasons__description-item--house::before {
  -webkit-mask-image: url("../img/icon-house.svg");
          mask-image: url("../img/icon-house.svg"); }

.reasons__description-item--gift::before {
  top: -15px;
  -webkit-mask-image: url("../img/icon-gift.svg");
          mask-image: url("../img/icon-gift.svg"); }

.reasons__description-item--food::before {
  -webkit-mask-image: url("../img/icon-burger.svg");
          mask-image: url("../img/icon-burger.svg"); }

.reasons__description-title {
  margin-bottom: 25px;
  font-family: "PTSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px; }

.reasons__description-subtitle {
  margin-bottom: 40px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px; }

.map {
  padding-top: 30px; }

.map__frame {
  margin-top: 50px;
  display: block; }

.photos__list {
  border-bottom: 1px solid #e5e5e5; }

.photos__item {
  padding: 0 20px;
  border-top: 1px solid #e5e5e5; }

.photos__card {
  padding: 22px 0;
  font-family: "PTSans Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: left; }

.photos__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 22px; }

.photos__subtitle {
  margin-bottom: 5px;
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: none; }

.photos__like-button {
  position: relative;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  font-size: 0;
  vertical-align: top; }
  .photos__like-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #b2b2b2;
    -webkit-mask-image: url("../img/icon-like.svg");
            mask-image: url("../img/icon-like.svg");
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center;
            mask-position: center; }

.presentation {
  padding-top: 40px; }

.presentation__video {
  display: block; }

.presentation__controls {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px; }

.presentation__control {
  width: 70px;
  height: 65px;
  font-size: 0; }
  .presentation__control::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #5c6870;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center;
            mask-position: center; }

.presentation__control:hover::after {
  background-color: #333333; }

.presentation__control:active::after {
  background-color: #c1c1c1; }

.presentation__control--reload::after {
  -webkit-mask-image: url("../img/icon-video-replay.svg");
          mask-image: url("../img/icon-video-replay.svg"); }

.presentation__control--subtitle::after {
  -webkit-mask-image: url("../img/icon-video-subtitles.svg");
          mask-image: url("../img/icon-video-subtitles.svg"); }

.presentation__control--fullscreen::after {
  -webkit-mask-image: url("../img/icon-video-fullscreen.svg");
          mask-image: url("../img/icon-video-fullscreen.svg"); }

.presentation__filler {
  width: 70px;
  height: 65px; }

.review-form__group {
  padding: 25px 20px 5px;
  border-top: 1px solid #e5e5e5; }

.review-form__dynamic-wrapper {
  display: table;
  width: 100%; }

.review-form__dynamic-row {
  display: table-row;
  width: 100%; }

.review-form__label {
  display: block;
  margin-bottom: 10px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: left; }
  .review-form__label--dynamic {
    display: table-cell; }

.review-form__sup {
  vertical-align: top; }

.review-form__input {
  height: 58px;
  padding-left: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-family: "PTSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  border: 0;
  background-color: #f2f2f2; }
  .review-form__input--dynamic {
    display: table-cell;
    width: calc(100% - 10px);
    margin-left: 10px; }
  .review-form__input:hover {
    background-color: #e5e5e5; }
  .review-form__input:active, .review-form__input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5; }

.review-form__input-addon {
  position: relative; }
  .review-form__input-addon::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 57px;
    height: 57px;
    background-color: #e6e6e6; }
  .review-form__input-addon::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    display: block;
    width: 57px;
    height: 57px;
    background-repeat: no-repeat;
    background-position: center; }

.review-form__input-addon--phone::before {
  background-image: url("../img/icon-phone.svg"); }

.review-form__input-addon--email::before {
  background-image: url("../img/icon-mail.svg"); }

.review-form__radio-list {
  text-align: left; }

.review-form__radio {
  display: none; }

.review-form__radio-control {
  position: relative;
  display: block;
  margin-bottom: 15px;
  font-family: "PTSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: none; }
  .review-form__radio-control::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #f2f2f2;
    border: 18px solid #f2f2f2; }

.review-form__radio-control:hover::before {
  background-color: #e5e5e5;
  border-color: #e5e5e5; }

.review-form__radio-control:active::before,
.review-form__radio-control:focus::before {
  background-color: #d5d5d5;
  border-color: #d5d5d5; }

.review-form__radio:checked + .review-form__radio-control::before {
  background-color: #333333; }

.review-form__radio:checked + .review-form__radio-control:active::before,
.review-form__radio:checked + .review-form__radio-control:focus::before {
  background-color: #a4a4a4; }

.review-form__checkbox-list {
  text-align: left; }

.review-form__checkbox {
  display: none; }

.review-form__checkbox-control {
  position: relative;
  display: block;
  margin-bottom: 20px;
  font-family: "PTSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: none; }
  .review-form__checkbox-control::before {
    content: '';
    display: inline-block;
    width: 56px;
    height: 56px;
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #f2f2f2; }
  .review-form__checkbox-control::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center; }

.review-form__checkbox-control:hover::before {
  background-color: #e5e5e5; }

.review-form__checkbox-control:active::before,
.review-form__checkbox-control:focus::before {
  background-color: #d5d5d5; }

.review-form__checkbox:checked + .review-form__checkbox-control::after {
  background-image: url("../img/icon-tick.svg"); }

.review-form__checkbox:checked + .review-form__checkbox-control:active::after,
.review-form__checkbox:checked + .review-form__checkbox-control:focus::after {
  opacity: 0.3; }

.review-form__textarea {
  width: 100%;
  padding: 20px 25px;
  min-height: 160px;
  margin-bottom: 50px;
  font-family: "PTSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  background-color: #f2f2f2;
  resize: none;
  border: 2px solid #f2f2f2; }
  .review-form__textarea:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5; }
  .review-form__textarea:active, .review-form__textarea:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5; }

.review-form__submit {
  width: 100%; }

.socials {
  padding-top: 40px;
  margin-bottom: 40px; }

.socials__title {
  margin-bottom: 0;
  font-size: 21px; }

.socials__list {
  margin-top: 35px; }

.socials__item {
  display: inline-block;
  width: 46px;
  height: 48px; }

.socials__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  background-color: #81b3d2; }
  .socials__link:hover {
    background-color: #669ec0; }
  .socials__link:active {
    background-color: #5496bd; }
  .socials__link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center;
            mask-position: center; }

.socials__link:active::after {
  background-color: #88b6d1; }

.socials__link--twitter::after {
  -webkit-mask-image: url("../img/icon-twitter.svg");
          mask-image: url("../img/icon-twitter.svg"); }

.socials__link--facebook::after {
  -webkit-mask-image: url("../img/icon-facebook.svg");
          mask-image: url("../img/icon-facebook.svg"); }

.socials__link--youtube::after {
  -webkit-mask-image: url("../img/icon-youtube.svg");
          mask-image: url("../img/icon-youtube.svg"); }

.copyright {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px; }

.copyright__link {
  position: relative;
  padding-right: 40px; }
  .copyright__link::after {
    content: '';
    position: absolute;
    right: 0;
    top: -8px;
    width: 27px;
    height: 34px;
    background-color: #000000;
    -webkit-mask-image: url("../img/logo-htmlacademy.svg");
            mask-image: url("../img/logo-htmlacademy.svg");
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: right;
            mask-position: right; }
  .copyright__link:hover::after {
    background-color: #81b3d2; }
  .copyright__link:active::after {
    background-color: #b2b2b2; }

.page-footer {
  padding-bottom: 23px; }

.modal {
  position: fixed;
  z-index: 10;
  top: 10%;
  display: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); }
  .modal--opened {
    display: block; }

.modal__body {
  padding: 45px 20px 35px; }

.modal__footer {
  padding: 20px 0;
  background-color: #f2f2f2; }
