* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding: 0;

  list-style: none;
}
a {
  text-decoration: none;

  color: inherit;
  outline: none;
}
button {
  border: 0;
  background: 0;
  outline: none;
}
input {
  outline: none;
}
textarea {
  outline: none;
}
