@font-face {
  font-family: "Trajan";
  src: url("../fonts/Trajan Pro 3 Regular.otf");
}

$font--centrury-gothic: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$font--centrury-schoolbook: "Century Schoolbook", CenturySchoolbook, sans-serif;
$font--arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font--times: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$font--trajan: 'Trajan', serif;
