.advantages {
  position: relative;

  padding-top: 50px;
  padding-left: 30%;

  font-family: $font--trajan;
  line-height: 29px;

  background-color: #eee2eb;
  background-image: url("../img/girl-bg1.png");
  background-repeat: no-repeat;
  background-position: 20px bottom;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 50%;

    display: block;
    width: 290px;
    height: 100px;

    background-image: url("../img/flower.png");
    background-repeat: no-repeat;
    background-position: top;

    transform: translate(-50%, -50%);
  }
}

.advantages__wrapper {
  margin: 0 20px;
}

.advantages__list {
  font-size: 21px;
}

.advantages__item {
  position: relative;

  margin-bottom: 35px;
  min-height: 55px;
  padding-left: 40px;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 30px;
    height: 30px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }
}

.advantages__item--stats::before {
  background-image: url("../img/icon-stats.png");
}

.advantages__item--award::before {
  background-image: url("../img/icon-awards.png");
}

.advantages__item--notepad::before {
  background-image: url("../img/icon-notepad.png");
}

.advantages__item--certify::before {
  background-image: url("../img/icon-certify.png");
}

.advantages__text {
  font-size: 16px;
  font-weight: 600;
  text-align: center;

  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: $tablet-width) {
  .advantages {
    padding-left: 0;
    background-image: none;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    padding-bottom: 50px;
  }
}
