.catalog {
  padding-top: 50px;

  background-color: #e4f1f9;
}

.catalog__wrapper {
  margin: 0 20px;
}

.catalog__brands {
  width: 25%;
  float: left;
}

.catalog__products {
  width: 75%;
  float: left;
}

@media (max-width: $mobile-width) {
  .catalog__brands {
    display: none;
  }

  .catalog__products {
    width: 100%;
  }
}
