.page-footer {
  margin: 0 20px 20px;

  text-align: center;
}

.page-footer__logo-image {
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .page-footer {
    margin: 0 0 20px;
  }

  .page-footer__contacts {
    margin: 0;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    margin-top: 20px;
  }
  .page-footer__menu {
    display: none;
  }
}
