.search__form {
  position: relative;
}

.search__input {
  height: 25px;
  padding-left: 15px;

  font-family: $font--centrury-schoolbook;
  font-size: 17px;
  white-space: nowrap;

  border: 1px solid #999999;
  border-radius: 500px;
}

.search__submit {
  position: absolute;
  right: 5px;
  top: 5px;

  display: block;
  width: 20px;
  height: 15px;

  font-size: 0;

  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
